@import "../../../assets/scss/Mixin";
@import "../../../assets/scss/Reset";
@import "../../../assets/scss/_Variable";
footer {
  position: relative;
  width: $full-width;
  box-shadow: $shadow-basic;
  background: $bg-color-body;
  .Container {
    width: $full-width - 10%;
    @include display-flex(row, center, center, $size-1rem);
    flex-wrap: wrap;
    max-width: $containr-max-width;
    margin: 0 auto;
    padding: $size-1_5rem;
    nav {
      @include display-flex(row, space-between, center, $size-1rem);
      padding: 0 $size-1rem;
      a {
        position: relative;
        color: $color-black-default;
        font-size: $fs-medium;
        font-weight: $fw-medium;
        &::before {
          content: "";
          position: absolute;
          top: $full-height;
          left: 0;
          right: 0;
          width: $full-width;
          height: $size-02rem;
          border-radius: $small-radius;
          background: $color-primary;
          box-shadow: $shadow-basic;
          visibility: hidden;
        }
        &:hover {
          color: $color-primary;
        }
        &.active {
          color: $color-primary;
          &::before {
            visibility: visible;
          }
        }
      }
    }
    a:not(nav a) {
      cursor: pointer;
      padding: 0 $size-1rem;
      border: none;
      color: $color-black-default;
      font-size: $fs-medium;
      font-weight: $fw-medium;
      @include breakPoints(460px) {
        border-left: $size-01rem solid $color-primary;
      }
      span {
        color: $color-primary;
        font-weight: $fw-bold;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
