@import "../../../assets/scss/Mixin";
@import "../../../assets/scss/Reset";
@import "../../../assets/scss/_Variable";
header {
  position: sticky;
  top: 0;
  width: $full-width;
  box-shadow: $shadow-basic;
  background: $bg-color-body;
  z-index: $z-index-header;
  .Container {
    width: $full-width - 10%;
    @include display-flex(row, space-between, center, $size-1rem);
    max-width: $containr-max-width;
    margin: 0 auto;
    padding: $size-05rem $size-1_5rem;
    .Logo {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    nav {
      @include display-flex(row, space-between, center, $size-2rem);
      a {
        position: relative;
        color: $color-black-default;
        font-size: $fs-medium;
        font-weight: $fw-medium;
        &::before {
          content: "";
          position: absolute;
          top: $full-height;
          left: 0;
          right: 0;
          width: $full-width;
          height: $size-02rem;
          border-radius: $small-radius;
          background: $color-primary;
          box-shadow: $shadow-basic;
          visibility: hidden;
        }
        &:hover {
          color: $color-primary;
        }
        &.active {
          color: $color-primary;
          &::before {
            visibility: visible;
          }
        }
      }
    }
  }
}
