<div class="swiper Main__Swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="" />
      <div class="Slider__Caption">
        <h1>Rick Sanchez</h1>
        <p>Citadel of Ricks.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="https://rickandmortyapi.com/api/character/avatar/2.jpeg" alt="" />
      <div class="Slider__Caption">
        <h1>Morty Smith</h1>
        <p>Citadel of Ricks.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="https://rickandmortyapi.com/api/character/avatar/3.jpeg" alt="" />
      <div class="Slider__Caption">
        <h1>Summer Smith</h1>
        <p>Earth (Replacement Dimension).</p>
      </div>
    </div>
  </div>
  <div class="Button__Wrapper">
    <button type="button" class="button-prev Button-Slider">
      <i class="fa fa-angle-left"></i>
    </button>
    <button type="button" class="button-next Button-Slider">
      <i class="fa fa-angle-right"></i>
    </button>
  </div>
  <div class="swiper-pagination">
    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
  </div>
</div>
